.gips-container
{
    height: 70px;
    width: 252px;
    position: absolute;
}
.gips-body
{
    color: White;
    font-weight: bold;
    font-family: Arial;
    font-size: 10px;
    width: 220px;
    height: 39px;
    padding: 10px;
    padding-right:20px;
    position: fixed;
    float: left;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    behavior: url(PIE.htc);
}
.gips-body.purple
{
    background-color: #D22769;
}

.gips-body.yellow
{
    background-color: #D5AF1C;
}
.gips-body.red
{
    background-color: #CB2026;
}
.gips-body.green
{
    background-color: #72A159;
}
.gips-close
{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 90%;
}
.gips-icon
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px;
    position: absolute;
}
/*icon at the bottom */
.gips-icon-bottom
{
    margin-left: 12px;
}
.gips-icon-bottom.purple
{
    border-color: #D22769 transparent transparent transparent;
}
.gips-icon-bottom.red
{
    border-color: #CB2026 transparent transparent transparent;
}
.gips-icon-bottom.yellow
{
    border-color: #D5AF1C transparent transparent transparent;
}
.gips-icon-bottom.green
{
    border-color: #72A159 transparent transparent transparent;
}

/*icon at the top*/

.gips-icon-top
{
    margin-left: 12px;
}
.gips-icon-top.purple
{
    border-color: transparent transparent #D22769 transparent;
}
.gips-icon-top.red
{
    border-color: transparent transparent #CB2026 transparent;
}
.gips-icon-top.yellow
{
    border-color: transparent transparent #D5AF1C transparent;
}
.gips-icon-top.green
{
    border-color: transparent transparent #72A159 transparent;
}
/*icon at the left*/

.gips-icon-left
{
    margin-top: 12px; /*   float: left;*/
}
.gips-icon-left.purple
{
    border-color: transparent #D22769 transparent transparent;
}
.gips-icon-left.red
{
    border-color: transparent #CB2026 transparent transparent;
}
.gips-icon-left.yellow
{
    border-color: transparent #D5AF1C transparent transparent;
}
.gips-icon-left.green
{
    border-color: transparent #72A159 transparent transparent;
}
/*icon at the right*/

.gips-icon-right
{
    margin-top: 12px;
}
.gips-icon-right.purple
{
    border-color: transparent transparent transparent #D22769;
}
.gips-icon-right.red
{
    border-color: transparent transparent transparent #CB2026;
}
.gips-icon-right.yellow
{
    border-color: transparent transparent transparent #D5AF1C;
}
.gips-icon-right.green
{
    border-color: transparent transparent transparent #72A159;
}
